GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=ChangeThisGrafanaAdminPassword!
GRAFANA_ROOT_URL=http://localhost:3000

KEYCLOAK_REALM=Grafana
KEYCLOAK_PUBLIC_URL=http://localhost:8080
KEYCLOAK_INTERNAL_URL=http://host.docker.internal:8080
GRAFANA_OAUTH_CLIENT_ID=grafana-oauth
GRAFANA_OAUTH_CLIENT_SECRET=ChangeThisGrafanaClientSecret!
